.bg-container {
  background-color: #161624;
  width: 60%;
  margin: auto;
  min-height: 100vh;
  padding-left: 45px;
  padding-right: 45px;
}

.heading {
  font-family: 'roboto';
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
  margin-top: 0px;
}
.list-container {
  list-style-type: none;
  padding: 0px;
  height: 300px;
  overflow-y: scroll;
  border: 1px solid #334155;
  border-radius: 7px;
}
.country-list {
  margin: 0px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #334155;
  border-top: 1px solid #334155;
  align-items: center;
  background-color: #1f1f2f;
  height: 60px;
}
.country-name {
  font-family: 'roboto';
  font-weight: 400;
  font-size: 15px;
  color: #ffffff;
  margin-left: 30px;
}
.visited {
  font-family: 'roboto';
  font-weight: 400;
  font-size: 15px;
  color: #94a3b8;
  margin-right: 30px;
}
.visit-button {
  border: none;
  background-color: #3b82f6;
  color: #ffffff;
  height: 30px;
  width: 70px;
  cursor: pointer;
  outline: none;
  margin-right: 20px;
  font-weight: bold;
  border-radius: 5px;
}
.visited-list-container {
  list-style-type: none;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
}
.visited-country-list {
  width: 250px;
  margin-right: 7px;
  margin-bottom: 10px;
  background-color: #1f1f2f;
}
.image {
  width: 250px;
  height: 150px;
}
.br-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.br-country-name {
  font-family: 'roboto';
  font-weight: 400;
  font-size: 15px;
  color: #ffffff;
  margin-left: 10px;
}
.visited-button {
  border: 1px solid #f1f5f9;
  background-color: transparent;
  color: #ffffff;
  height: 30px;
  width: 70px;
  cursor: pointer;
  outline: none;
  margin-right: 20px;
  font-weight: bold;
  border-radius: 5px;
}
.no-countries {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}
.no-country {
  font-family: 'roboto';
  font-weight: 400;
  font-size: 20px;
  color: #f8fafc;
}
@media (max-width: 768px) {
  .bg-container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
  }
}
